<h1>ログイン</h1>
<%= form_with url: login_path, local: true do |form| %>
  <div class="field">
    <%= form.label :メールアドレス %>
    <%= form.email_field :email %>
  </div>
  <div class="field">
    <%= form.label :パスワード %>
    <%= form.password_field :password %>
  </div>
  <div class="actions">
    <%= form.submit "ログイン" %>
  </div>
<% end %>