<!-- app/views/users/edit_password.html.erb -->
<h1>パスワードを変更する</h1>

<%= form_with(model: @user, url: update_password_path, method: :patch) do |f| %>
  <div>
    <%= f.label :パスワード %><br>
    <%= f.password_field :password %>
  </div>

  <div>
    <%= f.label :パスワード（確認） %><br>
    <%= f.password_field :password_confirmation %>
  </div>

  <div>
    <%= f.submit 'パスワードを更新する' %>
  </div>
<% end %>
