<h1>新規登録画面</h1>

<%= form_with(model: @user, url: signup_path, local: true) do |f| %>

  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ユーザーネーム %><br>
    <%= f.text_field :user_name %>
  </div>

  <div class="field">
    <%= f.label :メールアドレス %><br>
    <%= f.email_field :email %>
  </div>

  <div class="field">
    <%= f.label :パスワード %><br>
    <%= f.password_field :password %>
  </div>

  <div class="field">
    <%= f.label :パスワード（確認） %><br>
    <%= f.password_field :password_confirmation %>
  </div>

  <div class="actions">
    <%= f.submit "新規登録" %>
  </div>

<% end %>
