<h1><%= @user.user_name %>'s My Page</h1>

<h2>My Posts</h2>
<div class="posts">
  <% @posts.each do |post| %>
    <div class="post">
      <h3><%= link_to post.beans_name, post_path(post) %></h3>
      <p><%= truncate(post.memo, length: 100) %></p>
    </div>
  <% end %>
</div>
<%= link_to 'More', user_posts_path(@user), class: 'btn btn-primary' if @posts.count >= 6 %>

<h2>My Favorite Posts</h2>
<div class="favorites">
  <% @favorites.each do |post| %>
    <div class="favorite-post">
      <h3><%= link_to post.title, post_path(post) %></h3>
      <p><%= truncate(post.content, length: 100) %></p>
    </div>
  <% end %>
</div>
<%= link_to 'More', user_favorites_path(@user), class: 'btn btn-primary' if @favorites.count >= 6 %>
