<h1>投稿一覧</h1>

<% if @posts.any? %>
  <% @posts.each do |post| %>
    <div class="post">
      <h2><%= link_to post.store_name, post_path(post) %></h2>
      <p>コーヒー豆: <%= post.beans_name %></p>
      <p>焙煎度: <%= post.roast_level %></p>
      <p>生産地: <%= post.coffee_growing_regions %></p>
      <p>メモ: <%= truncate(post.memo, length: 100) %></p>
    </div>
  <% end %>
<% else %>
  <p>検索に一致する投稿がありません。</p>
<% end %>
