<div class="container">
  <h1><%= params[:q].present? ? "「#{params[:q]}」の検索結果" : "最新投稿" %></h1>

  <div class="post-container">
    <% if @posts.any? %>
      <% @posts.each do |post| %>
        <div class="post">
          <% if post.present? && post.photo.present? %>
            <%= image_tag(post.photo, alt: '投稿の画像', class: 'posts-image') %>
          <% else %>
            <%= image_tag('no_image.jpg', alt: '投稿の画像', class: 'posts-image') %>
          <% end %>
          <h2><%= link_to post.store_name, post_path(post) %></h2>
          <p>コーヒー豆: <%= post.beans_name %></p>
          <p>焙煎度: <%= Post.roast_level_names[post.roast_level.to_sym] %></p>
          <p>生産地: <%= post.coffee_growing_regions %></p>
        </div>
      <% end %>
    <% else %>
      <p>検索に一致する投稿がありません。</p>
    <% end %>
  </div>
</div>
