<!DOCTYPE html>
<html>
<head>
  <title>CoffeeBlog</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
</head>

<body>
  <header style="background-image: url('<%= asset_path('coffee_beans.jpg') %>'); background-size: cover; text-align: center; padding: 100px 0;">
    <h1>CoffeeBlog</h1>
  </header>

  <%= yield %>
</body>
</html>
