<!DOCTYPE html>
<html>
<head>
  <title>CoffeeBlog</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
</head>

<body>
  <header>
    <%= render 'shared/header' %>
  </header>

  <%= yield %>
</body>
</html>

